* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  min-height: 100dvh;
  padding-block: 5px;
  background-color: #83abca;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.calendar {
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0 6px 10px rgba(#000, 0.2);

  &__header {
    color: #969aa3;
  }

  &__header,
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 20px;
  }

  &__body {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding-block: 20px;
  }

  &__grid {
    padding-inline: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
  }

  &__week-day {
    font-weight: 700;
    text-transform: uppercase;
    color: #7f8993;
  }

  &__btn {
    display: grid;
    place-content: center;
    width: 34px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid transparent; //#D07450
    background-color: transparent;
    color: #000;
    transition-property: border-color, background-color, color;
    transition-duration: 250ms;
    transition-timing-function: ease;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        border-color: #d07450;
      }
    }
  }

  &__date {
    &--current {
      background-color: #d07450;
      border-color: #d07450;
      color: #fff;
      pointer-events: none;
    }

    &--past {
      pointer-events: none;
      color: #e2dfde;
    }

    &--active {
      position: relative;
      border-color: #d07450;

      &::before {
        content: attr(data-before);
        position: absolute;
        top: -50%;
        right: -50%;
        display: grid;
        place-content: center;
        width: 16px;
        aspect-ratio: 1;
        border-radius: 50%;
        color: #fff;
        background-color: calc(var(--background-color));
        font-size: 10px;
        translate: -50% 50%;
      }

      &.even {
        border-color: #d07450;

        &::before {
          background-color: #d07450;
        }
      }

      &.odd {
        border-color: #a35d87;

        &::before {
          background-color: #a35d87;
        }
      }
    }
  }

  &__footer-btn {
    border-color: #d07450;

    @media (hover: hover) {
      &:hover {
        color: #fff;
        background-color: #d07450;
      }
    }
  }
}
